<div *ngIf="paginas.length > 0" class="btn-toolbar ml-2 mt-2" role="toolbar" aria-label="Toolbar with button groups" style="text-align:center">
<h1 class="ml-1">Users in App</h1>

</div>

<div class="row ml-2" *ngIf="this.data">

  <div class="col" *ngFor="let user of this.data">

  <div class="card" style="width: 18rem;">
    <img [src]="user.avatar" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      <p class="card-text">{{user.email}}</p>
      <div class="row">
      <div class="col"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">Edit</button>
      </div>  <div class="col">  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>

        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acción Borrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
            ¿Esta seguro de Eliminar a {{user.first_name}} {{user.last_name}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="buttonDelete(user.id)">Borrar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar a {{user.first_name}} {{user.last_name}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input [(ngModel)]="user.first_name" type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Apellido:</label>
                    <input [(ngModel)]="user.last_name" type="text" class="form-control" id="recipient-lastname">
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Correo:</label>
                    <input [(ngModel)]="user.email" type="text" class="form-control" id="recipient-mail">
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"   type="submit"  (click)="editButton(user)">Guardar</button>
              </div>
            </div>
          </div>
        </div>


        </div>
    </div>
  </div>

</div>
<br>
 </div>
</div>

<div class="row mb-5 mt-2 ml-1 mr-1">
  <div class="col-6"> <button *ngIf="pagina>1" (click)="buttonPageMenos()" type="button" class="btn btn-dark float-left">Atras</button>  </div>
<div class="col-6"> <button *ngIf="pagina<2" (click)="buttonPageMas()" type="button" class="btn btn-dark float-right">Siguiente</button>  </div>
 </div>
